
<div class="page-sidebar" id="main-menu">
    <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
        <!-- BEGIN MINI-PROFILE -->
        <div class="user-info-wrapper">
           <!--
            <div class="profile-wrapper">
                <img src='@Url.Content("~/Content/assets/img/profiles/avatar.jpg")' alt="" data-src='@Url.Content("~/Content/assets/img/profiles/avatar.jpg")' data-src-retina='@Url.Content("~/Content/assets/img/profiles/avatar2x.jpg")' width="69" height="69" />
            </div>
           <div class="user-info">
                <div class="greeting">Welcome</div>
                <div class="username">John <span class="semi-bold">Smith</span></div>
                <div class="status">Status<a href="#"><div class="status-icon green"></div>Online</a></div>
            </div>-->
        </div>
        <!-- END MINI-PROFILE -->
        <!-- BEGIN SIDEBAR MENU -->
        <p class="menu-title">BROWSE<span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
        <ul>
            <!-- BEGIN SELECTED LINK -->
            <li class="start active">
                <a href="@Url.Action("Index", "Home")">
                    <i class="icon-custom-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                    <!--<span class="badge badge-important pull-right">@ViewBag.DeviseUnavailableCount</span>-->
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index","Employees")">
                    <i class="fa fa-th"></i>
                    <span class="title">Employees</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="">
                <a href="@Url.Action("Index","Schedules")">
                    <i class="fa fa-th"></i>
                    <span class="title">Work Schedules</span>
                    <span class="selected"></span>
                </a>
            </li>
            <!-- END SELECTED LINK -->
            <!-- END TWO LEVEL MENU -->
        </ul>
        <!-- END SIDEBAR MENU -->
        <div class="clearfix"></div>
        <!-- END SIDEBAR WIDGETS -->
    </div>
</div>
