@model RRHH.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<!-- BEGIN PAGE TITLE -->
<div class="page-title">
</div>

<div class="row">
    <div class="col-md-5">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Employee <span class="semi-bold">Edit</span></h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body no-border">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            @if (TempData["Message"] != null)
                            {
                                <div class="alert alert-success">
                                    <button data-dismiss="alert" class="close"></button>
                                    @TempData["Message"]
                                </div>
                            }
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.EmployeeId)

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NationalCardId, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.NationalCardId, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NationalCardId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "form-label" })

                                        @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProfileUrl, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.ProfileUrl, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ProfileUrl, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HireDate, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.HireDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HireDate, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DepartmentId, "DepartmentId", htmlAttributes: new { @class = "form-label" })

                                        @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ShiftId, "ShiftId", htmlAttributes: new { @class = "form-label" })

                                        @Html.DropDownList("ShiftId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobPositionId, "JobId", htmlAttributes: new { @class = "form-label" })

                                        @Html.DropDownList("JobPositionId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.JobPositionId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CountryId, "CountryId", htmlAttributes: new { @class = "form-label" })

                                        @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CityId, "CityId", htmlAttributes: new { @class = "form-label" })

                                        @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-label" })

                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.IsActive)
                                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                
            }
        </div>
    </div>
</div>